<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>People App</title>
    <!-- load local stylesheet (css) -->
    <link rel="stylesheet" href="/styles.css" />
    <!-- loading jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <h1>Welcome!</h1>
    <p>Everything is fine.</p>

    <h2>Links</h2>

    <p><a href="/nm/">all people</a></p>
    
    <%- include("partials/form.ejs") %>

    <!-- load local js -->
    <script src="/main.js"></script>
</body>
</html>
